.componentClassName-modal {
    display: -webkit-flex !important;
    display: flex !important;
}

.componentClassName-modal .modal-dialog {
    margin: auto !important;
    display: block !important;
    width: 720px !important;
    height: auto !important;
    position: relative !important;
    padding-bottom: 0 !important;
}

.componentClassName-modal.transform-clear .modal-dialog {
    -webkit-transform: none !important;
    transform: none !important;
    -webkit-transition: none !important;
    transition: none !important;
}

.componentClassName-modal .modal-content {
    height: 100% !important;
    width: 100% !important;
    margin: 0 !important;
    display: block !important;
    border: 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .2);
    border-radius: 3px;
    padding: 0;
}

.componentClassName-wrap {
    height: 100%;
    font-size: 14px;
    line-height: 1;
    background: #E5E5E5;
    border-radius: 3px;
}

/* componentClassName-header */

.componentClassName-header {
    padding: 11px 16px;
    font-size: 16px;
    background: #f6f6f6;
    text-align: center;
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}

.componentClassName-header>h4 {
    font-weight: bold;
    margin: 0;
    color: #666;
    line-height: 36px;
    font-size: 16px;
    text-align: center;
    position: absolute;
    width: 100px;
    left: 50%;
    margin-left: -50px;
    top: 0;
}

.componentClassName-header>a {
    color: #666;
    font-size: 14px;
}

.componentClassName-header>a.componentClassName-header-btn-last {
    margin-right: 16px;
}

.componentClassName-header>a.active {
    color: #007aff;
}

.componentClassName-content {
    position: relative;
    padding: 20px 16px 10px;
    max-height: 580px;
    min-height: 194px;
    overflow: hidden;
}

.componentClassName-loading {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 3px;
}